---
layout: default
rdf_prefix_path: _data/prefixes.sparql
---
<div>
  <h3>Terminology Repository Details</h3>
  <h1>{{page.rdf | rdf_property: "<http://purl.org/dc/terms/title>"}}</h1>

  <ul class="post-list">
    <li> <span class="post-meta">IRI:</span> <a href="{{page.rdf.iri}}">{{page.rdf.iri}}</a> </li>
    <li> <span class="post-meta">dct:description:</span> {{page.rdf | rdf_property: "dct:description"}} </li>
    <li> <span class="post-meta">foaf:homepage:</span> <a href="{{page.rdf | rdf_property: "foaf:homepage"}}">{{page.rdf | rdf_property: "foaf:homepage"}}</a> </li>
    <li> <span class="post-meta">dct:language:</span> {{page.rdf | rdf_property: "dct:language"}} </li>
    <li> <span class="post-meta">dct:license:</span> <a href="{{page.rdf | rdf_property: "dct:license"}}">{{page.rdf | rdf_property: "dct:license"}}</a>  </li>
    <li> <span class="post-meta">dct:creator:</span>
  	    {% assign creators_query = "SELECT ?firstname ?lastname WHERE { ?resourceUri dct:creator ?creator. ?creator foaf:firstName ?firstname . ?creator foaf:lastName ?lastname . }" %}
        {% assign results = page.rdf | sparql_query: creators_query %}
        <ul>
        {% for item in results %}
          <li> {{item.firstname}} {{item.lastname}} </li>
        {% endfor %}
        </ul>
    </li>
    <li> <span class="post-meta">dct:publisher:</span>
  	    {% assign publisher_query = "SELECT ?name ?homepage WHERE { ?resourceUri dct:publisher ?publisher. ?publisher foaf:name ?name . ?publisher foaf:homepage ?homepage . }" %}
        {% assign results = page.rdf | sparql_query: publisher_query %}
        <ul>
        {% for item in results %}
          <li><a href="{{item.homepage}}">{{item.name}}</a></li>
        {% endfor %}
        </ul>
    </li>
    <li> <span class="post-meta">dct:type:</span> <a href="{{page.rdf | rdf_property: "dct:type"}}">{{page.rdf | rdf_property: "dct:type"}}</a> </li>
  </ul>


{%comment%}
{% endcapture %}
{% assign creators = page.rdf | sparql_query: creator_query %}
{% for row in creators %}
<li><a href="{{ row.creator.page_url }}">{{ row.creator | rdf_property: "foaf:name" }}</a></li>
{% endfor %}
{%endcomment%}
